Repository tidal-music/tidal-sdk-ios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tidal-music/tidal-eng-ios, @tidal-music/bits-ios, @tidal-music/pace-ios, @tidal-music/platform-ios

.github/CODEOWNERS:

*    @tidal-music/tidal-eng-ios

# Teams

## BITS
Sources/Player/ @tidal-music/bits-ios @tidal-music/pace-ios
Tests/PlayerTests/ @tidal-music/bits-ios @tidal-music/pace-ios

## Platform
Sources/Auth/ @tidal-music/platform-ios
Sources/Common/ @tidal-music/platform-ios
Sources/EventProducer/ @tidal-music/platform-ios
Sources/Template/ @tidal-music/platform-ios
Tests/AuthTests/ @tidal-music/platform-ios
Tests/CommonTests/ @tidal-music/platform-ios
Tests/EventProducerTests/ @tidal-music/platform-ios
Tests/TemplateTests/ @tidal-music/platform-ios

- add test for play, pause, resume, pause and resume - add test for play, seek forward, seek back and resume
  Tests/PlayerTests/Playlog/PlayLogTests.swift
Owners: @tidal-music/bits-ios, @tidal-music/pace-ios

- add test for play and reset
  Tests/PlayerTests/Playlog/PlayLogTests.swift
Owners: @tidal-music/bits-ios, @tidal-music/pace-ios

Renamed default FeatureFlagProvider implementation from .live to .standard
  Sources/Player/Common/FeatureFlags/FeatureFlagProvider+Standard.swift
  Sources/Player/Player.swift
Owners: @tidal-music/bits-ios, @tidal-music/pace-ios

Addressing PR comments - Made Asset.cached property private - Renamed PlaybackStatistics SessionTag enum to EventTag
  Sources/Player/PlaybackEngine/Internal/Asset.swift
  Sources/Player/PlaybackEngine/Internal/Events/StreamingMetrics/PlaybackStatistics.swift
  Sources/Player/PlaybackEngine/Internal/PlayerItem.swift
Owners: @tidal-music/bits-ios, @tidal-music/pace-ios

Preparing new SDK release 0.3.18
  CHANGELOG.md
  version.txt
Owners: @tidal-music/tidal-eng-ios

Update CHANGELOG.md
  CHANGELOG.md
Owners: @tidal-music/tidal-eng-ios

made old Scopes deprecated
  Sources/Auth/Model/Scopes.swift
Owners: @tidal-music/platform-ios

legacy credentials struct
  Sources/Auth/Model/LegacyCredentials.swift
Owners: @tidal-music/platform-ios

String extension: convert to a set of scopes and vice versa
  Sources/Auth/Extensions/String+Scopes.swift
Owners: @tidal-music/platform-ios

replaced Scopes with Set in AuthConfig
  Sources/Auth/Model/AuthConfig.swift
Owners: @tidal-music/platform-ios

use set in Credentials
  Sources/Auth/Model/Credentials.swift
Owners: @tidal-music/platform-ios

Calculate Player appVersion internally and unify logic with EventProducer.
  Sources/Common/Extensions/Bundle+Extensions.swift
  Sources/Player/Configuration.swift
  Sources/Player/Player.swift
  TestApps/Player/PlayerTestApp/PlayerViewModel.swift
  Tests/PlayerTests/FeatureFlagProviderTests.swift
Owners: @tidal-music/platform-ios, @tidal-music/bits-ios, @tidal-music/pace-ios, @tidal-music/tidal-eng-ios

adjusted scopes extensions
  Sources/Auth/Extensions/ScopesExtensions.swift
  Sources/Auth/Extensions/String+Scopes.swift
Owners: @tidal-music/platform-ios

Use Set<String> instead of Scopes
  Sources/Auth/Login/DeviceLoginPollHelper.swift
  Sources/Auth/Login/LoginRepository.swift
  Sources/Auth/TokenRepository.swift
Owners: @tidal-music/platform-ios

adjusted mocks and tests
  Sources/Auth/Mocks/Model/Credentials+Mock.swift
  Tests/AuthTests/LoginRepositoryTest.swift
  Tests/AuthTests/Model/AccessTokenTest.swift
  Tests/AuthTests/TokenRepositoryTest.swift
  Tests/AuthTests/TokensStoreTests.swift
Owners: @tidal-music/platform-ios

LegacyTokens and convert them to Tokens
  Sources/Auth/Model/LegacyCredentials.swift
  Sources/Auth/Model/LegacyTokens.swift
Owners: @tidal-music/platform-ios

implemented migration of stored old tokens
  Sources/Auth/Storage/DefaultTokensStore.swift
Owners: @tidal-music/platform-ios

returned back missing AuthTestApp scheme
  TestApps/Auth/AuthTestApp.xcodeproj/xcshareddata/xcschemes/AuthTestApp.xcscheme
Owners: @tidal-music/tidal-eng-ios

formatting
  Sources/Auth/Model/LegacyTokens.swift
Owners: @tidal-music/platform-ios

fixed Auth setup in the test app
  TestApps/Auth/AuthTestApp/AuthViewModel.swift
Owners: @tidal-music/tidal-eng-ios

adjusted usages of scopes in documentation
  Sources/Auth/Auth.docc/Documentation.md
  Sources/Auth/README.md
Owners: @tidal-music/platform-ios

PlayerTestApp : adjusted scopes usage + documentation
  Sources/Player/Player.docc/Documentation.md
  Sources/Player/README.md
  TestApps/Player/PlayerTestApp/PlayerViewModel.swift
Owners: @tidal-music/bits-ios, @tidal-music/pace-ios, @tidal-music/tidal-eng-ios

Clean up existing play log tests and improve before adding more complex tests
  Tests/PlayerTests/Playlog/PlayLogTests.swift
Owners: @tidal-music/bits-ios, @tidal-music/pace-ios

add missing changes
  Tests/PlayerTests/Playlog/PlayLogTests.swift
Owners: @tidal-music/bits-ios, @tidal-music/pace-ios

increase timeout
  Tests/PlayerTests/Playlog/PlayLogTests.swift
Owners: @tidal-music/bits-ios, @tidal-music/pace-ios

improve failing message
  Tests/PlayerTests/Playlog/PlayLogTests.swift
Owners: @tidal-music/bits-ios, @tidal-music/pace-ios

add wait
  Tests/PlayerTests/Playlog/PlayLogTests.swift
Owners: @tidal-music/bits-ios, @tidal-music/pace-ios

remove comment
  Tests/PlayerTests/Playlog/PlayLogTests.swift
Owners: @tidal-music/bits-ios, @tidal-music/pace-ios

add wait since CI is much slower
  Tests/PlayerTests/Playlog/PlayLogTests.swift
Owners: @tidal-music/bits-ios, @tidal-music/pace-ios

Add two more play log tests: load, setNext and play; and play and seek forward beyond file duration
  Tests/PlayerTests/Playlog/PlayLogTests.swift
Owners: @tidal-music/bits-ios, @tidal-music/pace-ios

Separate interface roles for Auth, cleanup
  Sources/Auth/Auth.swift
  Sources/Auth/Mocks/AuthProviderMock.swift
  Sources/Auth/TidalAuth.swift
Owners: @tidal-music/platform-ios

Add two more play log tests: load, setNext, play, seek forward beyond file duration and reset; and load, play, setNext, skipToNext and reset.
  Tests/PlayerTests/Playlog/PlayLogTests.swift
Owners: @tidal-music/bits-ios, @tidal-music/pace-ios

format missing
  Tests/PlayerTests/Playlog/PlayLogTests.swift
Owners: @tidal-music/bits-ios, @tidal-music/pace-ios

Add one more play log test: load, play, pause, seek, play, setNext, pause, play, skipToNext, seek and reset.
  Tests/PlayerTests/Playlog/PlayLogTests.swift
Owners: @tidal-music/bits-ios, @tidal-music/pace-ios

Delete all code related to old auth and remove new Auth FF
  Sources/Player/Common/DRM/FairPlayLicenseFetcher.swift
  Sources/Player/Common/FeatureFlags/FeatureFlagProvider+Standard.swift
  Sources/Player/Common/FeatureFlags/FeatureFlagProvider.swift
  Sources/Player/Common/PlaybackInfo/PlaybackInfoFetcher.swift
  Sources/Player/Mocks/Common/FeatureFlags/FeatureFlagProvider+Mock.swift
  Sources/Player/PlaybackEngine/Internal/Broadcasting/DJProducer.swift
  Sources/Player/PlaybackEngine/Internal/Events/PlayerEventSender.swift
  Sources/Player/PlaybackEngine/Internal/InternalPlayerLoader.swift
  Sources/Player/PlaybackEngine/Internal/StreamingPrivileges/LegacyStreamingPrivilegesHandler.swift
  Sources/Player/Player.swift
  Tests/PlayerTests/PlaybackInfoFetcherTests.swift
  Tests/PlayerTests/Player/PlayerTests.swift
Owners: @tidal-music/bits-ios, @tidal-music/pace-ios

remove wrong wait
  Tests/PlayerTests/Playlog/PlayLogTests.swift
Owners: @tidal-music/bits-ios, @tidal-music/pace-ios

renamed AuthProviderMock to TidalAuthMock
  Sources/Auth/Mocks/AuthProviderMock.swift
Owners: @tidal-music/platform-ios

updated documentation
  Sources/Auth/Auth.docc/Documentation.md
  Sources/Auth/README.md
Owners: @tidal-music/platform-ios

renamed TidalAuthMock to AuthAndCredentialsProviderMock
  Sources/Auth/Mocks/AuthProviderMock.swift
Owners: @tidal-music/platform-ios

renamed AuthProviderMock.swift to AuthAndCredentialsProviderMock.swift
  Sources/Auth/Mocks/AuthAndCredentialsProviderMock.swift
Owners: @tidal-music/platform-ios
