Repository tidal-music/tidal-sdk-ios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tidal-music/tidal-eng-ios, @tidal-music/bits-ios, @tidal-music/pace-ios, @tidal-music/platform-ios

.github/CODEOWNERS:

*    @tidal-music/tidal-eng-ios

# Teams

## BITS
Sources/Player/ @tidal-music/bits-ios @tidal-music/pace-ios
Tests/PlayerTests/ @tidal-music/bits-ios @tidal-music/pace-ios

## Platform
Sources/Auth/ @tidal-music/platform-ios
Sources/Common/ @tidal-music/platform-ios
Sources/EventProducer/ @tidal-music/platform-ios
Sources/Template/ @tidal-music/platform-ios
Tests/AuthTests/ @tidal-music/platform-ios
Tests/CommonTests/ @tidal-music/platform-ios
Tests/EventProducerTests/ @tidal-music/platform-ios
Tests/TemplateTests/ @tidal-music/platform-ios

Fixed hardcoded values for uploaded content
  Sources/Player/Common/PlaybackInfo/PlaybackInfoFetcher.swift
  Sources/Player/PlaybackEngine/Internal/AVQueuePlayer/AVQueuePlayerWrapper.swift
Owners: @tidal-music/bits-ios, @tidal-music/pace-ios

Add one more play log test: seek forward and resume
  Tests/PlayerTests/Playlog/PlayLogTests.swift
Owners: @tidal-music/bits-ios, @tidal-music/pace-ios

OfflineMode should not be taken into account when sending PlayerEvents, to match EventProducer policy.
  Sources/Player/PlaybackEngine/Internal/Events/PlayerEventSender.swift
Owners: @tidal-music/bits-ios, @tidal-music/pace-ios

Delete all code related to old AccessTokenProvider
  Sources/Player/Common/Authentication/AccessTokenProvider.swift
  Sources/Player/Common/Authentication/AuthUtils.swift
  Sources/Player/Common/DRM/FairPlayLicenseFetcher.swift
  Sources/Player/Common/PlaybackInfo/PlaybackInfoErrorResponseConverter.swift
  Sources/Player/Common/PlaybackInfo/PlaybackInfoFetcher.swift
  Sources/Player/Mocks/PlaybackEngine/AuthTokenProviderMock.swift
  Sources/Player/Mocks/PlaybackEngine/ConfigurableAuthTokenProvider.swift
  Sources/Player/PlaybackEngine/Internal/Broadcasting/DJProducer.swift
  Sources/Player/PlaybackEngine/Internal/Events/PlayerEventSender.swift
  Sources/Player/PlaybackEngine/Internal/InternalPlayerLoader.swift
  Sources/Player/PlaybackEngine/Internal/PlayerLoader.swift
  Sources/Player/PlaybackEngine/PlayerEngine.swift
  Sources/Player/Player.swift
  TestApps/Player/PlayerTestApp/PlayerViewModel.swift
  Tests/PlayerTests/EventsTests.swift
  Tests/PlayerTests/FeatureFlagProviderTests.swift
  Tests/PlayerTests/Mocks/Common/DRM/FairPlayLicenseFetcher+Mock.swift
  Tests/PlayerTests/Mocks/Common/PlaybackInfoFetcher/PlaybackInfoFetcher+Mock.swift
  Tests/PlayerTests/Mocks/PlaybackEngine/Internal/Events/PlayerEventSenderMock.swift
  Tests/PlayerTests/Mocks/PlaybackEngine/Internal/PlayerLoaderMock.swift
  Tests/PlayerTests/Mocks/Player+Mock.swift
  Tests/PlayerTests/Player/Common/DRM/FairPlayLicenseFetcherTests.swift
  Tests/PlayerTests/Player/PlaybackEngine/Internal/Broadcasting/DJProducerTests.swift
  Tests/PlayerTests/Player/PlaybackEngine/Internal/Events/PlayerEventSenderTests.swift
  Tests/PlayerTests/Player/PlaybackEngine/Internal/InternalPlayerLoaderTests.swift
  Tests/PlayerTests/Player/PlaybackEngine/PlayerEngineTests.swift
  Tests/PlayerTests/Player/PlayerTests.swift
  Tests/PlayerTests/PlayerStateTests.swift
  Tests/PlayerTests/Playlog/PlayLogTests.swift
Owners: @tidal-music/bits-ios, @tidal-music/pace-ios, @tidal-music/tidal-eng-ios

update documentation and test app
  Sources/Player/Player.docc/Documentation.md
  Sources/Player/README.md
  TestApps/Player/PlayerTestApp/PlayerViewModel.swift
Owners: @tidal-music/bits-ios, @tidal-music/pace-ios, @tidal-music/tidal-eng-ios

add improvement for possible flakiness
  Tests/PlayerTests/Playlog/PlayLogTests.swift
Owners: @tidal-music/bits-ios, @tidal-music/pace-ios

added scopes to login query
  Sources/Auth/Login/LoginUriBuilder.swift
  Sources/Auth/TidalAuth.swift
  Tests/AuthTests/LoginRepositoryTest.swift
Owners: @tidal-music/platform-ios

bump to version 0.3.19
  CHANGELOG.md
  version.txt
Owners: @tidal-music/tidal-eng-ios

Updated default values and documentation
  Sources/Common/Extensions/Bundle+Extensions.swift
  Sources/Player/Player.docc/Documentation.md
  Sources/Player/README.md
Owners: @tidal-music/platform-ios, @tidal-music/bits-ios, @tidal-music/pace-ios

Updated CHANGELOG
  CHANGELOG.md
Owners: @tidal-music/tidal-eng-ios

Bump version from 0.3.19 to 0.3.20 and update CHANGELOG
  CHANGELOG.md
  version.txt
Owners: @tidal-music/tidal-eng-ios

Fixed encoding of sessionProductType as a String in StreamingSessionStart
  Sources/Player/OfflineEngine/Internal/DownloadTask.swift
  Sources/Player/PlaybackEngine/Internal/Events/StreamingMetrics/StreamingSessionStart/StreamingSessionStart.swift
  Sources/Player/PlaybackEngine/Internal/PlayerItem.swift
  Tests/PlayerTests/Mocks/PlaybackEngine/Internal/Events/StreamingMetrics/StreamingSessionStart+Mock.swift
Owners: @tidal-music/bits-ios, @tidal-music/pace-ios

Update CHANGELOG.md
  CHANGELOG.md
Owners: @tidal-music/tidal-eng-ios
