Repository tidal-music/tidal-sdk-ios, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tidal-music/tidal-eng-ios, @tidal-music/bits-ios, @tidal-music/pace-ios, @tidal-music/platform-ios

BITS-2932: Default listener queue on player bootstrap
  Sources/Player/Player.swift
  TestApps/Player/PlayerTestApp/PlayerViewModel.swift
Owners: @tidal-music/bits-ios, @tidal-music/pace-ios, @tidal-music/tidal-eng-ios

Add a new workflow to verify `CHANGELOG.md` update status
  .github/workflows/changelog-check.yml
Owners: @tidal-music/tidal-eng-ios

BITS-2933: Made some PlayerListener protocol methods optional to simplify bootstrapping code for SDK consumers.
  Sources/Player/Common/Event/PlayerListener.swift
  TestApps/Player/PlayerTestApp/PlayerViewModel.swift
Owners: @tidal-music/bits-ios, @tidal-music/pace-ios, @tidal-music/tidal-eng-ios

Update changelog-check.yml
  .github/workflows/changelog-check.yml
  CHANGELOG.md
  version.txt
Owners: @tidal-music/tidal-eng-ios

Introduce .sh script for version verification
  .github/workflows/changelog-check.yml
  CHANGELOG.md
  Scripts/checkVersionSync.sh
Owners: @tidal-music/tidal-eng-ios

Update Changelog.md to consolidate all historic changes
  CHANGELOG.md
Owners: @tidal-music/tidal-eng-ios

added accesGroup to config and store
  Sources/Auth/Auth.swift
  Sources/Auth/Model/AuthConfig.swift
  Sources/Auth/Storage/DefaultTokensStore.swift
  Tests/AuthTests/TokensStoreTests.swift
Owners: @tidal-music/platform-ios

Remove testing branch line from the workflow
  .github/workflows/changelog-check.yml
Owners: @tidal-music/tidal-eng-ios

Update Sources/Player/Common/Event/PlayerListener.swift
  Sources/Player/Common/Event/PlayerListener.swift
Owners: @tidal-music/bits-ios, @tidal-music/pace-ios

Fix for SwiftLint warnings on test targets
  Tests/PlayerTests/Mocks/JsonEncodedResponseURLProtocol.swift
  Tests/PlayerTests/Player/PlaybackEngine/Internal/PlayerItemTests.swift
Owners: @tidal-music/bits-ios, @tidal-music/pace-ios

Fix for test errors after the latest changes, and also added a couple more test cases.
  Tests/PlayerTests/Player/PlaybackEngine/Internal/PlayerItemTests.swift
Owners: @tidal-music/bits-ios, @tidal-music/pace-ios

BITS-2931: Default implementation of FeatureFlagProvider
  Sources/Player/Common/FeatureFlags/FeatureFlagProvider+Live.swift
  Sources/Player/Player.swift
  TestApps/Player/PlayerTestApp/PlayerViewModel.swift
Owners: @tidal-music/bits-ios, @tidal-music/pace-ios, @tidal-music/tidal-eng-ios

added isUserLoggedIn to CredentialsProvider, removed isLoggedIn from Auth and TidalAuth
  Sources/Auth/Auth.swift
  Sources/Auth/CredentialsProvider.swift
  Sources/Auth/Mocks/AuthProviderMock.swift
  Sources/Auth/Mocks/CredentialsProviderMock.swift
Owners: @tidal-music/platform-ios

made isDeviceClientLoggedIn internal
  Sources/Auth/Auth.swift
Owners: @tidal-music/platform-ios

Test app - use isUserLoggedIn
  TestApps/Auth/AuthTestApp/AuthViewModel.swift
Owners: @tidal-music/tidal-eng-ios

adjusted documentation to use isUserLoggedIn
  Sources/Auth/Auth.docc/Documentation.md
  Sources/Auth/README.md
Owners: @tidal-music/platform-ios

- Update cancel call count when cancel with close code func is called - Add unit test for when offline mode is switched one while web socket is open
  Tests/PlayerTests/Mocks/PlaybackEngine/Internal/StreamingPrivileges/WebSocket/WebSocketTaskMock.swift
  Tests/PlayerTests/Player/PlaybackEngine/Internal/StreamingPrivileges/StreamingPrivilegesHandlerTests.swift
Owners: @tidal-music/bits-ios, @tidal-music/pace-ios

improve wording
  Tests/PlayerTests/Player/PlaybackEngine/Internal/StreamingPrivileges/StreamingPrivilegesHandlerTests.swift
Owners: @tidal-music/bits-ios, @tidal-music/pace-ios

removed Scopes validation
  Sources/Auth/Model/Scopes.swift
  Tests/AuthTests/ScopesTests.swift
Owners: @tidal-music/platform-ios

delete unused code
  Tests/PlayerTests/Player/PlaybackEngine/Internal/StreamingPrivileges/StreamingPrivilegesHandlerTests.swift
Owners: @tidal-music/bits-ios, @tidal-music/pace-ios

removed warnings in tests
  Tests/AuthTests/TokensStoreTests.swift
Owners: @tidal-music/platform-ios

improve tests with optimizedWait usage
  Tests/PlayerTests/EventsTests.swift
Owners: @tidal-music/bits-ios, @tidal-music/pace-ios

List all the available modules in main readme file
  README.md
Owners: @tidal-music/tidal-eng-ios

bump version to 0.3.16
  version.txt
Owners: @tidal-music/tidal-eng-ios

added changelog for version 0.3.16
  CHANGELOG.md
Owners: @tidal-music/tidal-eng-ios

Adding extra properties tidalLoginServiceBaseUri & tidalAuthServiceBaseUri to AuthConfig to support staging
  Sources/Auth/Auth.swift
  Sources/Auth/Login/LoginUriBuilder.swift
  Sources/Auth/Model/AuthConfig.swift
  Sources/Auth/Network/DefaultLoginService.swift
  Sources/Auth/Token/DefaultTokenService.swift
  Tests/AuthTests/LoginRepositoryTest.swift
Owners: @tidal-music/platform-ios

Code cleaning
  TestApps/Auth/AuthTestApp/AuthViewModel.swift
Owners: @tidal-music/tidal-eng-ios

Add httpBody data
  Sources/Auth/Network/HTTPService.swift
  Sources/Auth/Token/DefaultTokenService.swift
Owners: @tidal-music/platform-ios

Debug httpBody content
  Sources/Auth/Token/DefaultTokenService.swift
Owners: @tidal-music/platform-ios

Clean up debugging code
  Sources/Auth/Token/DefaultTokenService.swift
Owners: @tidal-music/platform-ios

Reducing the change list
  Sources/Auth/Network/HTTPService.swift
Owners: @tidal-music/platform-ios

bump version to 0.3.17
  CHANGELOG.md
  version.txt
Owners: @tidal-music/tidal-eng-ios

Added flag to control content caching in AVQueuePlayerWrapper
  Sources/Player/Common/FeatureFlags/FeatureFlagProvider+Live.swift
  Sources/Player/Common/FeatureFlags/FeatureFlagProvider.swift
  Sources/Player/Mocks/Common/FeatureFlags/FeatureFlagProvider+Mock.swift
  Sources/Player/PlaybackEngine/Internal/AVQueuePlayer/AVQueuePlayerWrapper.swift
  Sources/Player/PlaybackEngine/Internal/AVQueuePlayer/AVURLAssetFactory.swift
  Sources/Player/PlaybackEngine/Internal/InternalPlayerLoader.swift
Owners: @tidal-music/bits-ios, @tidal-music/pace-ios

update directory
  Package.swift
  Tests/PlayerTests/Resources/AudioFiles/test_1min.m4a
  Tests/PlayerTests/Resources/AudioFiles/test_5sec.m4a
Owners: @tidal-music/tidal-eng-ios, @tidal-music/bits-ios, @tidal-music/pace-ios

add test to play item till end
  Tests/PlayerTests/Playlog/PlayLogTests.swift
Owners: @tidal-music/bits-ios, @tidal-music/pace-ios

Added new .CACHED session tag for streaming metrics
  Sources/Player/PlaybackEngine/Internal/AVQueuePlayer/AVQueuePlayerWrapper.swift
  Sources/Player/PlaybackEngine/Internal/AVQueuePlayer/AVURLAssetFactory.swift
  Sources/Player/PlaybackEngine/Internal/Asset.swift
  Sources/Player/PlaybackEngine/Internal/Events/StreamingMetrics/PlaybackStatistics.swift
  Sources/Player/PlaybackEngine/Internal/Events/StreamingMetrics/SessionTag.swift
  Sources/Player/PlaybackEngine/Internal/Events/StreamingMetrics/StreamingSessionStart/StreamingSessionStart.swift
  Sources/Player/PlaybackEngine/Internal/PlayerItem.swift
  Tests/PlayerTests/EventsTests.swift
  Tests/PlayerTests/Mocks/PlaybackEngine/Internal/Events/StreamingMetrics/StreamingSessionStart+Mock.swift
Owners: @tidal-music/bits-ios, @tidal-music/pace-ios

update urls
  Tests/PlayerTests/Mocks/Common/Types/EncodableEmuManifest.swift
  Tests/PlayerTests/Mocks/Common/Types/PlaybackInfo+Mock.swift
  Tests/PlayerTests/Player/PlaybackEngine/PlayerEngineTests.swift
Owners: @tidal-music/bits-ios, @tidal-music/pace-ios

- add test for play, pause in the middle and resume - add test for play, seek forward and resume
  Tests/PlayerTests/Playlog/PlayLogTests.swift
Owners: @tidal-music/bits-ios, @tidal-music/pace-ios

increase timeout
  Tests/PlayerTests/Playlog/PlayLogTests.swift
Owners: @tidal-music/bits-ios, @tidal-music/pace-ios

Keep separated SessionTag enums by StreamingMetricEvent
  Sources/Player/PlaybackEngine/Internal/Events/StreamingMetrics/PlaybackStatistics.swift
  Sources/Player/PlaybackEngine/Internal/Events/StreamingMetrics/SessionTag.swift
  Sources/Player/PlaybackEngine/Internal/Events/StreamingMetrics/StreamingSessionStart/StreamingSessionStart.swift
  Sources/Player/PlaybackEngine/Internal/PlayerItem.swift
  Tests/PlayerTests/EventsTests.swift
Owners: @tidal-music/bits-ios, @tidal-music/pace-ios

.github/CODEOWNERS:

*    @tidal-music/tidal-eng-ios

# Teams

## BITS
Sources/Player/ @tidal-music/bits-ios @tidal-music/pace-ios
Tests/PlayerTests/ @tidal-music/bits-ios @tidal-music/pace-ios

## Platform
Sources/Auth/ @tidal-music/platform-ios
Sources/Common/ @tidal-music/platform-ios
Sources/EventProducer/ @tidal-music/platform-ios
Sources/Template/ @tidal-music/platform-ios
Tests/AuthTests/ @tidal-music/platform-ios
Tests/CommonTests/ @tidal-music/platform-ios
Tests/EventProducerTests/ @tidal-music/platform-ios
Tests/TemplateTests/ @tidal-music/platform-ios
