Repository tidal-music/tidal-sdk-ios, pull requests merged in 2024-08, with the labels that each got.

#43 Playlog tests: Align skipToNext behavior with Android: don't do anything when there's no nextItem set up
  Sources/Player/PlaybackEngine/PlayerEngine.swift
  Tests/PlayerTests/Player/PlaybackEngine/PlayerEngineTests.swift
Labels: Player

#44 Playlog tests: Fix existing tests, prepare for final set of tests and make small improvements
  Tests/PlayerTests/Playlog/PlayLogTests.swift
Labels: Player

#45 Playlog tests: Add tests for playlog - setNext, load, play and skipToNext
  Tests/PlayerTests/Playlog/PlayLogTests.swift
Labels: Player

#47 Playlog tests: Add missing tests
  Tests/PlayerTests/Playlog/PlayLogTests.swift
Labels: Player

#51 Playlog tests: Duplicate playlog tests when sending events in deinit
  Tests/PlayerTests/Playlog/PlayLogTestsWithDeinit.swift
Labels: Player

#56 add more log data in the error message to help with debugging
  Sources/Player/PlaybackEngine/Internal/AVQueuePlayer/AVPlayerItemErrorLogEvent.swift
  Sources/Player/PlaybackEngine/Internal/AVQueuePlayer/AVQueuePlayerWrapper.swift
  Sources/Player/PlaybackEngine/Internal/AVQueuePlayer/Legacy/AVQueuePlayerWrapperLegacy.swift
Labels: Player

#58 Add available check for mac in AVPlayerItemErrorLogEvent
  Sources/Player/PlaybackEngine/Internal/AVQueuePlayer/AVPlayerItemErrorLogEvent.swift
Labels: Player

#55 Fix cache flaky test
  Tests/PlayerTests/Player/Common/Utils/CacheTests.swift
Labels: Player

#62 Add parameter encoding
  Sources/Common/Extensions/String+Extensions.swift
  Sources/EventProducer/Events/Logic/EventScheduler.swift
  Tests/EventProducerTests/EventsTests/EventsTests.swift
Labels: enhancement, 🚥 Event Producer

#65 Remove `isStallWhenTransitionFromEndedToBufferingEnabled` from `FeatureFlagProvider`
  Sources/Player/Common/FeatureFlags/FeatureFlagProvider+Standard.swift
  Sources/Player/Common/FeatureFlags/FeatureFlagProvider.swift
  Sources/Player/Mocks/Common/FeatureFlags/FeatureFlagProvider+Mock.swift
Labels: Player

#27 Allow setNext if the MediaProduct subtype is different
  Sources/Player/Common/Types/MediaProduct.swift
  Tests/PlayerTests/Player/PlaybackEngine/PlayerEngineTests.swift
Labels: bug, Player
