Repository tidal-music/tidal-sdk-ios, pull requests merged in 2024-06, with the labels that each got.

#1 Bump Version to 0.3.22
  .github/workflows/changelog-check.yml
  CHANGELOG.md
  version.txt
Labels: good first issue

#15 Fix flaky date in StreamingPrivilegesHandlerTests
  Tests/PlayerTests/Player/PlaybackEngine/Internal/PlayerItemTests.swift
  Tests/PlayerTests/Player/PlaybackEngine/Internal/StreamingPrivileges/StreamingPrivilegesHandlerTests.swift
Labels: Player

#16 Add support for immersiveaudio param in playbackinfo
  Sources/Player/Common/PlaybackInfo/PlaybackInfoFetcher.swift
  Sources/Player/Configuration.swift
  Tests/PlayerTests/PlaybackInfoFetcherTests.swift
Labels: Player

#17 Part 1: Feature flag setup for new caching implementation
  Sources/Player/Common/Extensions/AVPlayer.swift
  Sources/Player/Common/Extensions/AVURLAsset.swift
  Sources/Player/Common/Extensions/Player+Extensions.swift
  Sources/Player/Common/FeatureFlags/FeatureFlagProvider+Standard.swift
  Sources/Player/Common/FeatureFlags/FeatureFlagProvider.swift
  Sources/Player/Mocks/Common/FeatureFlags/FeatureFlagProvider+Mock.swift
  Sources/Player/PlaybackEngine/Internal/AVQueuePlayer/Legacy/AVPlayerAssetLegacy.swift
  Sources/Player/PlaybackEngine/Internal/AVQueuePlayer/Legacy/AVQueuePlayerWrapperLegacy.swift
  Sources/Player/PlaybackEngine/Internal/AVQueuePlayer/Legacy/AVURLAssetFactoryLegacy.swift
  Sources/Player/PlaybackEngine/Internal/AVQueuePlayer/Legacy/AssetCacheLegacy.swift
  Sources/Player/PlaybackEngine/Internal/Events/StreamingMetrics/StreamingSessionStart/StreamingSessionStart.swift
  Sources/Player/PlaybackEngine/Internal/InternalPlayerLoader.swift
  Sources/Player/PlaybackEngine/Internal/PlayerItem.swift
  Sources/Player/Player.swift
  Tests/PlayerTests/Player/PlaybackEngine/Internal/PlayerItemTests.swift
  Tests/PlayerTests/Playlog/PlayLogTests.swift
Labels: Player

#25 Ensure cache delegate updates happen in the Player queue
  Sources/Player/PlaybackEngine/Internal/AVQueuePlayer/AVQueuePlayerWrapper.swift
Labels: bug, Player

#20 Fix long buffering w/ new caching implementation
  Sources/Player/PlaybackEngine/Internal/AVQueuePlayer/AVQueuePlayerWrapper.swift
Labels: bug, Player

#21 Fix playback not stopping immediately on reset
  Sources/Player/PlaybackEngine/Internal/AVQueuePlayer/AVQueuePlayerWrapper.swift
Labels: bug, Player

#22 Splitted GenericMediaPlayer responsibilities
  Sources/Player/Common/Extensions/Player+Extensions.swift
  Sources/Player/Mocks/PlaybackEngine/PlayerMock.swift
  Sources/Player/PlaybackEngine/Internal/AVQueuePlayer/AVQueuePlayerWrapper.swift
  Sources/Player/PlaybackEngine/Internal/AVQueuePlayer/Legacy/AVQueuePlayerWrapperLegacy.swift
  Sources/Player/PlaybackEngine/Internal/InternalPlayerLoader.swift
  Sources/Player/PlaybackEngine/Internal/MediaPlayers/GenericMediaPlayer.swift
  Sources/Player/PlaybackEngine/Internal/MediaPlayers/LiveMediaPlayer.swift
  Sources/Player/PlaybackEngine/Internal/MediaPlayers/UCMediaPlayer.swift
  Sources/Player/PlaybackEngine/Internal/MediaPlayers/VideoPlayer.swift
  Sources/Player/PlaybackEngine/Internal/PlayerLoader.swift
  Tests/PlayerTests/Mocks/PlaybackEngine/Internal/PlayerLoaderMock.swift
Labels: Player

#23 Disabled playback metadata assertions
  Sources/Player/Common/World/DevelopmentFeatureFlagProvider/DevelopmentFeatureFlagProvider+Live.swift
  Sources/Player/Common/World/DevelopmentFeatureFlagProvider/DevelopmentFeatureFlagProvider.swift
  Sources/Player/PlaybackEngine/Internal/AVQueuePlayer/AVQueuePlayerWrapper.swift
  Sources/Player/PlaybackEngine/Internal/PlayerItem.swift
  Tests/PlayerTests/Mocks/Common/World/DevelopmentFeatureFlagProvider+Mock.swift
Labels: Player

#31 Check Queue Size (iOS)
  Sources/EventProducer/Events/Logic/EventScheduler.swift
  Sources/EventProducer/Events/Models/EventConfig.swift
  Sources/EventProducer/Monitoring/Monitoring.swift
  Sources/EventProducer/Outage/OutageState.swift
  Sources/EventProducer/TidalEventSender.swift
  Tests/EventProducerTests/EventsTests/EventsTests.swift
  Tests/EventProducerTests/HelperTests/FileManagerHelperTests.swift
  Tests/EventProducerTests/MonitoringTests/MonitoringTests.swift
  Tests/EventProducerTests/NetworkingTests/NetworkingTests.swift
Labels: 🚥 Event Producer
